<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapeer 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ball.mapper.GroupMapper">
    <insert id="insertGroup" parameterType="com.ball.vo.GroupVO">
        insert into group_table (user_id_group_header, group_name, group_category, group_is_secret
            , group_password, group_person_count, group_content, group_reg_date, group_mod_date)
        values(#{user_id_group_header},#{group_name},#{group_category}, #{group_is_secret},
            #{group_password}, #{group_person_count}, #{group_content}, sysdate(), sysdate())
    </insert>

</mapper>